@import "tailwindcss";

:root {
  --background: #F8F8F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, sans-serif;
  text-align: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body > :not(#particles-js) {
  position: relative;
  z-index: 1;
}

.btn-corn {
  background-color: #f7c054;
  color: white;
  padding: 0.8rem 5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  gap: 0.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  }

  .btn-corn:hover {
  background-color: #eab308;
  }

  .btn-corn:disabled {
  opacity: 0.5;
  cursor: default;
}

  .btn-corn:disabled:hover {
  opacity: 0.5;
  cursor: default;
  background-color: #f7c054;
}


